# Gradle
.gradle/
build/
gradle-app.setting
!gradle/wrapper/gradle-wrapper.jar

# IDE - IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# IDE - VS Code
.vscode/

# IDE - Eclipse
.classpath
.project
.settings/

# macOS
.DS_Store
